<a href="https://colab.research.google.com/github/Jevs9/Inmersion_Datos1/blob/main/INMERSION_DATOS_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**CLASE 03** <br>
Boxplot
Ver final del archivo inmersión_datos_02

Explora más sobre los Outliers (valores fuera del rango típico) en este interesante contenido https://es.wikipedia.org/wiki/Valor_at%C3%ADpico

Para poder trabajar con las bases de datos de DANE tenemos que especificar que el separador es punto y coma y el tipo de codificación que utiliza (latin-1)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

datos_raw = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Identificación (Capítulo A).csv', sep=';', encoding = 'latin-1')
datos_raw.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,DIRECTORIO,DPTO,MPIO,CLASE,COD_LOCALIDAD,NOMBRE_LOCALIDAD,COD_UPZ_GRUPO,NOMBRE_UPZ_GRUPO,ESTRATO2021,NOMBRE_ESTRATO,FEX_C
0,3004346.0,11,11001,1,3.0,Santa Fe,814.0,SANTA FE: Las Nieves + Sagrado Corazón,11001187,SANTA FE: Las Nieves + Sagrado Corazón,"13,2266692027239"
1,3004347.0,11,11001,1,14.0,Los Mártires,37.0,Santa Isabel,11001162,Santa Isabel,"17,8555889419101"
2,3004348.0,11,11001,1,3.0,Santa Fe,814.0,SANTA FE: Las Nieves + Sagrado Corazón,11001187,SANTA FE: Las Nieves + Sagrado Corazón,"10,0286103658331"
3,3004349.0,11,11001,1,1.0,Usaquén,803.0,USAQUÉN: Country Club + Santa Bárbara,11001176,USAQUÉN: Country Club + Santa Bárbara,"28,6502122142802"
4,3004350.0,11,11001,1,1.0,Usaquén,803.0,USAQUÉN: Country Club + Santa Bárbara,11001176,USAQUÉN: Country Club + Santa Bárbara,"24,4684068319009"

In [ ]:
datos_raw.shape

(106467, 11)

Debido a que la base da datos contiene datos del área metropolitana de la capital de Bogotá se va a filtrar la base solo dejando los datos que corresponden a Bogotá

In [ ]:
datos_raw = datos_raw.loc[datos_raw.MPIO == 11001]
datos_raw.shape

(86504, 11)

In [ ]:
datos_b = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Datos de la vivenda y su entorno (Capítulo B).csv', sep=';', encoding = 'latin-1')
datos_c = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Condiciones habitacionales del hogar (Capítulo C).csv', sep=';', encoding = 'latin-1')
datos_e = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Composición del hogar y demografía (Capítulo E).csv', sep=';', encoding = 'latin-1')
datos_h = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Educación (Capítulo H).csv', sep=';', encoding = 'latin-1')
datos_l = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Percepción sobre las condiciones de vida y el desempeño institucional (Capítulo L).csv', sep=';', encoding = 'latin-1')
datos_k = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Fuerza de trabajo (Capítulo K).csv', sep=';', encoding = 'latin-1')

<ipython-input-9-b6f718a72678>:2: DtypeWarning: Columns (4,25,30,47) have mixed types. Specify dtype option on import or set low_memory=False.
  datos_c = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Condiciones habitacionales del hogar (Capítulo C).csv', sep=';', encoding = 'latin-1')
<ipython-input-9-b6f718a72678>:3: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  datos_e = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Composición del hogar y demografía (Capítulo E).csv', sep=';', encoding = 'latin-1')
<ipython-input-9-b6f718a72678>:4: DtypeWarning: Columns (81) have mixed types. Specify dtype option on import or set low_memory=False.
  datos_h = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Educación (Capítulo H).csv', sep=';', encoding = 'latin-1')
<ipython-input-9-b6f718a72678>:5: DtypeWarning: Columns (114,117,122,126,164,166,168) have mixed types. Specify dtype option on import or set low_memory=False.
  datos_l = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Percepción sobre las condiciones de vida y el desempeño institucional (Capítulo L).csv', sep=';', encoding = 'latin-1')
<ipython-input-9-b6f718a72678>:6: DtypeWarning: Columns (27,58,60,62,64,66,104,114,120,124,126,129,131,133) have mixed types. Specify dtype option on import or set low_memory=False.
  datos_k = pd.read_csv('/content/drive/MyDrive/CURSOS/ALURA/InmersionPython/3_clase03/archivos-dane/archivos-dane/Fuerza de trabajo (Capítulo K).csv', sep=';', encoding = 'latin-1')

Se va agrupar toda esta información en un solo dataframe, para esto se utiliza merge.
hay que buscar el elemento común entre las dos bases de datos, en este caso es DIRECTORIO y especificar hacia que lado quiero que se introduzcan mis nuevos datos, en este caso hacia la izquierda.

In [ ]:
datos_dane = pd.merge(datos_raw, datos_b, on = 'DIRECTORIO', how = 'left')
datos_dane.shape

(86504, 73)

Se continuan agregando las otras bases de datos

In [ ]:
datos_dane = pd.merge(datos_dane, datos_c, on = 'DIRECTORIO', how = 'left')
datos_dane.shape

(87061, 214)

In [ ]:
datos_dane = pd.merge(datos_dane, datos_e, on = 'DIRECTORIO', how = 'left')
datos_dane.shape

<ipython-input-13-d044ea459036>:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'FEX_C_x'} in the result is deprecated and will raise a MergeError in a future version.
  datos_dane = pd.merge(datos_dane, datos_e, on = 'DIRECTORIO', how = 'left')

(238559, 281)

In [ ]:
datos_dane.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 238559 entries, 0 to 238558
Columns: 281 entries, DIRECTORIO to FEX_C_y
dtypes: float64(140), int64(126), object(15)
memory usage: 513.3+ MB